[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/snaproute-codefresh
[access "refs/for/refs/*"]
	read = group user/snaproute-codefresh
	push = group user/snaproute-codefresh
	label-Code-Review = -2..+2 group user/snaproute-codefresh
	label-Verified = -1..+1 group user/snaproute-codefresh
	rebase = group user/snaproute-codefresh
	removeReviewer = group user/snaproute-codefresh
	submit = group user/snaproute-codefresh
[access "refs/heads/*"]
	read = group user/snaproute-codefresh
	create = group user/snaproute-codefresh
	push = +force group user/snaproute-codefresh
	pushMerge = group user/snaproute-codefresh
[access "refs/tags/*"]
	push = group user/snaproute-codefresh
	push = +force group user/snaproute-codefresh
